---
layout: master
---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 hero-left align-self-center">
        <div class="container head">
          <div class="row">
            <div class="col-12">
              <h2>
                  Tailor-made Network Optimization Solutions for your Complete Supply Chain
              </h2>
            </div>
          </div>
        </div>
        <div class="container points">
          <div class="row">
            <div class="col-12">
              <ul>
                <li>Save 15-20% of your supply chain costs with Flow, Location & Inventory optimizations.</li>
                <li>Leverage Locus AI proprietary tools & a world class data science team to create custom made solutions.</li>
                <li>Our bottom-up approach models your supply chain data, factoring in 20+ geographic, business, and operational constraints.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center hero-right">
        <h4>Schedule a Demo call with our Strategic Consultant</h4>
          <form>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name*">
                </div>
              <div class="form-group">
                <input type="text" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Business email*">
              </div>
              <div class="form-group">
                <input type="text/number" class="form-control" placeholder="Contact Number*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Industry*">
              </div>
              <button type="submit" class="btn btn-primary email-submit">SUBMIT</button>
              <small class="form-text text-muted">By clicking submit, you are providing us with your consent to communicate via email or phone, regarding the demo you have requested.</small>
            </form>
      </div>
    </div>
  </div>
</section>
<section class="partners">
    <div class="container">
      <div class="row">
        <div class="col-12 d-none d-lg-block">
          <img src="../assets/img/client-logos.gif" alt="Our Clients"/>
        </div>
        <div class="col-12 d-lg-none">
          <img src="../assets/img/client-logos--mobile.gif" width="100%" alt="Our Clients">
        </div>
      </div>
    </div>
</section>

<div class="blue-bg">
<section>
    <div class="container">
        <div class="row">
          <div class="col-12 text-center section-title">
            <h2 class=" font-weight-bolder">WHY LOCUS FOR NETWORK OPTIMIZATION?</h2>
          </div>
        </div>
        <div class="row text-center sub-text">
          We work with our clients to model their supply-chain bottom-up and iteratively optimize for various scenarios basis flow, inventory and location, and model the cost-impact of the re-designed supply-chain.
        </div>
        <div class="row">
          <div class="col-lg-4 why-locus-col text-center">
            <img src="../assets/img/Flow.png" alt="">
            <div class="titles">Flow Optimization</div>
            <div class="sub-titles">
                Locus tells you how should the product flow from one node to another (mode of transport and routes)?
            </div>
            <div class="why-locus-text">We provide Warehouse-Distributor Remapping & Distributor-Retail Outlet Remapping: Flow-based optimization to reduce operating expenses costs without additional capital expenses.</div>
          </div>
          <div class="col-lg-4 why-locus-col text-center">
              <img src="../assets/img/Location.png" alt="">
              <div class="titles">Location Optimization</div>
              <div class="sub-titles">
                  Locus tells you where should the product be sourced from?
              </div>
              <div class="why-locus-text">
                The network optimization solution selects the ideal location for DC/RDC/Supplier to minimize overall logistics costs based on demand patterns, capacities, and service levels.
              </div>
          </div>
          <div class="col-lg-4 why-locus-col text-center">
                <img src="../assets/img/Inventory.png" alt="">
                <div class="titles">Inventory Optimization</div>
                <div class="sub-titles">
                    Locus tells you what should be the inventory levels at each node?
                </div>
                <div class="why-locus-text">
                    Multi-echelon inventory optimization at each layer of supply-chain with optimal cycle + safety stock levels to reduce inventory holding costs while maintaining high service levels.
                </div>
          </div>
        </div>
        
</section>
<section class="case-study">
  <div class="container">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3"></div>
      <div class="col-12 col-lg-7 text-center font-weight-bolder section-title">
          <h2 class=" font-weight-bolder">14% savings for India's Largest Agri-Equipment Manufacturer</h2>
      </div>
    </div>
    <div class="row case-study-gradient-background">

      <div class="col-lg-8 is--in--white">
        <h4 class="case-title">Case-Study Overview</h4>
        <h5>
          India’s largest agri-equipment manufacturer wanted to re-design their supply-chain in a post-GST era. Locus worked on modeling, designing  their supply-chain bottom-up, and identified warehouse consolidation opportunities, which can generate Capital & Operational cost-savings.
        </h5>
        <img src="../assets/img/Case study 1.png" alt="Case Study 1" class="case-img">
        <h5 class="case-lower">
          The optimizations were modeled for 2 Manufacturing Units, 14 Depots and 975 Distributors with 5,000 SKUs.
        </h5>
      </div>
      <div class="col-lg-4 is--in--gradient align-self-center">
        <h2 class="section-title-inverse text-center">Results with Locus</h2>
        <div class="row dollar">
            <div class="col-3">
              <img src="../assets/img/dollar.png" alt="">
            </div>
            <div class="col-9 align-self-center">14% savings in warehouse consolidation</div>
          </div>
          <div class="row dollar">
              <div class="col-3">
                <img src="../assets/img/dollar.png" alt="">
              </div>
              <div class="col-9 align-self-center">12% savings from inventory optimization</div>
          </div>
          <div class="row dollar">
              <div class="col-3">
                <img src="../assets/img/dollar.png" alt="">
              </div>
              <div class="col-9 align-self-center">10% revenue opportunity in lost sales</div>
          </div>
          <div>
            <p>Learn exactly how Locus optimized cost with flow, inventory & location optimization.</p>
          </div>
          <div class="text-center">
              <button class="btn btn-light btn-case-study">DOWNLOAD CASE STUDY</button>
          </div>
      </div>
    </div>
  </div>
</section>
</div>

<section>
  <div class="container">
      <div class="row">
          <div class="col-12 text-center section-title">
            <h2 class=" font-weight-bolder">Meet the Locus Team</h2>
          </div>
        </div>
        <div class="row sub-text text-center">
            Locus' proprietary AI solutions for Network Optimization have been created & implemented by our world-class in-house Data Science &  Strategic Team.
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row team">
            <div class="col-4">
              <img src="../assets/team/Rahul .png" width="100%" alt="">
            </div>
            <div class="col-8 align-self-center">
              <h4>
                <a href="https://www.linkedin.com/in/rahul-jain2992/">Rahul Jain</a>
              </h4>
              <p>Data Scientist, University of Berkeley, Master of Engineering.
              </p>
            </div>
          </div>
          </div>
          <div class="col-lg-6">
              <div class="row team">
              <div class="col-4">
                <img src="../assets/team/Shantanu.png" width="100%" alt="">
              </div>
              <div class="col-8 align-self-center">
                <h4>
                  <a href="https://www.linkedin.com/in/bhattacharyya/">Shantanu Bhattacharyya
                    </a>
                </h4>
                <p>
                    Head - Data Science,
                    Ph.D. Carnegie Mellon University.
                </p>
              </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <div class="row team">
              <div class="col-4">
                <img src="../assets/team/Ashwin.png" width="100%" alt="">
              </div>
              <div class="col-8 align-self-center">
                <h4>
                  <a href="https://www.linkedin.com/in/ashwinkrishnamoorthy/">
                    Ashwin Krishnamoorthy
                   
                    </a>
                </h4>
                <p> AVP - Supply Chain Consulting,
                    Ex Bain & Company, IIM C, IIT Madras.
                </p>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
                <div class="row team">
                <div class="col-4">
                  <img src="../assets/team/Abhishek.png" width="100%" alt="">
                </div>
                <div class="col-8 align-self-center">
                  <h4>
                    <a href="https://www.linkedin.com/in/abhishek-roy-23488a164/">Abhishek Roy
                      </a>
                  </h4>
                  <p>Data Scientist,
                      University of Berkeley, Ph. D. University of Illinois.
                      </p>
                </div>
              </div>
              </div>
          </div>

  </div>
</section>

<section class="cta">
    <div class="container">
        <div class="row">
          <div class="col-12 align-self-center text-center">
            <h1>CONNECT WITH OUR TEAM @ ashwin@locus.sh</h1>
          </div>
        </div>
      </div>
</section>
